<div class="card">
    <div class="col-12">
        <div class="card">
            <h5>Pseudoaleatorio</h5>
                <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>
                <div class="col-12 md:col-8 h-full">
                    <h5>Metodo Cuadrado Medio</h5>
                    <div style="display: flex; justify-content: center; margin-top: 20px;">
                            <div class="card p-fluid">
                                <h5>Ingrese los datos</h5>
                                <div class="p-formgrid grid">
                                    <div class="field col">
                                        <label htmlFor="name2">Semilla</label>
                                        <input pInputText id="name2" type="number" />
                                    </div>
                                    <div class="field col">
                                        <label htmlFor="digito">Digitos</label>
                                        <input pInputText id="digito" type="number" />
                                    </div>
                                    <div class="field col">
                                        <label htmlFor="email2">Nro de datos a generar</label>
                                        <input pInputText id="email2" type="number" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="card">
                                    <h5>Opciones</h5>
                                    <span class="p-buttonset">
                                        <button pButton pRipple label="Generar" icon="pi pi-check"></button>
                                        <button pButton pRipple label="Limpiar" icon="pi pi-trash"></button>
                                        <button pButton pRipple label="Cancelar" icon="pi pi-times"></button>
                                    </span>
                                </div>
                            </div>


                             <!-- este lo maneja tooodoo
                        <router-outlet></router-outlet>
                            -->
                    </div>
                  <script src="js/controlador.js"></script>
                </div>
        </div>
    </div>
<div class="card">
    <div class="col-12">
        <div class="card">
            <h5>Numeros Generados</h5>
            <p-table #dt1 [value]="aleatorio" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nro
                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by Number"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                R(n)
                                <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
                            </div>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                R(n)2
                                <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                MR
                                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No se pudo generar los numeros.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Cargando los datos.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>

